/*This stylesheet contains some custom class rather than Bootstrap*/

body {
	background-color: #6495ED;
	/*background-image: url("../img/outerspace.gif");*/
	background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../img/computer_bkgrd.png");
	background-size: 100% 100%;
}
.modal-header {
	background-color: #9370DB;
}
.modal-body {
	background-color: #E6E6FA;
}
.navbar-inner {
	background-color: #00008B;
}		
a.btn.btn-navbar {
	background-color: #8A2BE2;
}
a.btn.btn-navbar:hover {
	background-color: #9370DB;
}
a.brand img {
	border-radius:50%;
	border:5px solid #fff;
}
.profile, .skills, .work, .resume {
	padding:30px 0;
}
.profile h2, .skills h2, .work h2, .resume h2 {
	font-weight:normal;
	color: #66CDAA;
}
/***** Profile *****/
	.profile h1 {
	color:#66CDAA;
	font-weight: normal;
}
.profile h3 {
	color:#fff;
	font-weight: normal;
}
.profile p {
	color:#fff;
	font-size:18px;
	line-height: 35px;
	margin-top: 30px;
}
.profile .container .span5 {
	padding:40px 0;
}
a.skills {
	display: inline-block;
 *display: inline;
	padding:20px 60px;
	background:#8A2BE2;
	color:#fff;
	text-transform:uppercase;
	font-size:26px;
	margin:20px 0;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}
a.skills:hover {
	text-decoration:none;
	background:#9400D3;
}
.social {
	text-align:center;
	padding-bottom:80px;
}
ul.social-icons {
	margin:20px 0;
}
ul.social-icons li {
	list-style:none;
	display:inline-block;
	margin:10px;
}
ul.social-icons li:first-child {
	margin-left:0;
}
ul.social-icons li a {
	opacity:0.8;
}
ul.social-icons li a:hover {
	opacity:1;
}

.img-github {
	border-radius: 5px;
}
.expand-bg {
	background: none repeat scroll 0 0 #EAEDF2;
	border-radius:16px;
	height: 16px;
	margin-bottom: 15px;
	position: relative;
	padding: 0 2px;
}
.expand {
	border-radius: 10px;
	height: 4px;
	margin: 2px 0;
	padding: 4px 0 4px 5px;
	position: absolute;
}
.ps2 {
	width:90%;
	background:#30a5dc;
	-moz-animation:html5 2s ease-out;
	-webkit-animation:html5 2s ease-out;
}
.ai2 {
	width:80%;
	background:#ee742b;
	-moz-animation:css3 2s ease-out;
	-webkit-animation:css3 2s ease-out;
}
.html2 {
	width:75%;
	background:#f04949;
	-moz-animation:jquery 2s ease-out;
	-webkit-animation:jquery 2s ease-out;
}
.css2 {
	width:85%;
	background:#66CDAA;
	-moz-animation:photoshop 2s ease-out;
	-webkit-animation:photoshop 2s ease-out;
}
 @-moz-keyframes ps2 {
0% {
width:0px;
}
100% {
width:90%;
}
}
@-moz-keyframes ai2 {
0% {
width:0px;
}
100% {
width:80%;
}
}
@-moz-keyframes html2 {
0% {
width:0px;
}
100% {
width:75%;
}
}
@-moz-keyframes css2 {
0% {
width:0px;
}
100% {
width:85%;
}
}
 @-webkit-keyframes ps2 {
0% {
width:0px;
}
100% {
width:90%;
}
}
@-webkit-keyframes ai {
0% {
width:0px;
}
100% {
width:80%;
}
}
@-webkit-keyframes html {
0% {
width:0px;
}
100% {
width:75%;
}
}
@-webkit-keyframes css {
0% {
width:0px;
}
100% {
width:85%;
}
}
/**** Work container *****/
ul.work-images li {
	list-style:none;
	display:inline-block;
	margin: 8px 10px;
    
}
ul.work-images li:first-child {
	margin-left:0;
}
ul.work-images li div {
	background:url(../img/Click_here.png) 50% 50% no-repeat;
	background-color: #49efd9;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	border-radius: 20px;
	height: 250px; 
	width: 250px;
	margin-bottom: 50px;
}
ul.work-images li img {
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
	border-radius: 20px;
	height: 250px; 
	width: 250px;
	margin-bottom: 50px;
}
ul.work-images li img:hover {
	opacity:0.1;
}
.footer {
	background:#00008B;
	position: fixed;
	width: 100%;
	left: 0;
	bottom:0;
}
.footer p {
	margin:20px 0;
}
.footer p a {
	color:#fff;
	text-decoration:none;
}
.footer p a:hover {
	color:#66CDAA;
}
